* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  align-items: center;
  height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

main {
  padding: 20px;
  width: 80%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-product label,
.add-product input,
.add-product button {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

input,
textarea {
  padding: 5px;
  font-size: 15px;
}

textarea {
  resize: none;
}

.add-product button {
  padding: 8px 15px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.add-product button:hover {
  background-color: #444;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.product-table th,
.product-table td {
  padding: 8px;
  text-align: center;
}

.product-table tr:nth-child(even) {
  background-color: rgb(247, 247, 247);
}

.product-table th {
  background-color: rgb(224, 224, 224);
}

.product-table th:nth-child(1) {
  width: 50px;
}

.product-table th:nth-child(2) {
  width: 300px;
}

.product-table th:nth-child(3) {
  width: 150px;
}

.product-table th:nth-child(6) {
  width: 100px;
}

.remove-button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 15px;
  padding: 5px;
}

.products-header {
  display: flex;
  justify-content: space-between;
}
